/klever/cve_software/cve_software.pro.user
/klever/cve_software/Makefile
_build
/klever/managers/Makefile
Makefile
Makefile.Debug
Makefile.Release
object_script.autorization.Debug
object_script.autorization.Release
debug
release
/klever/managers/autorization/Makefile
/klever/modules/backends/template/src/object_script.template.Debug
/klever/modules/backends/template/src/object_script.template.Release
/klever/core/object_script.core.Release
/klever/core/object_script.core.Debug
/klever/managers/sessions/object_script.boot.Release
/klever/managers/sessions/object_script.boot.Debug
/klever/managers/sessions/object_script.session.Debug
/klever/core/frameWork/resources/images/Thumbs.db
/klever/managers/sessions/object_script.session.Release
/klever/managers/sessions/object_script.sessions.Debug
/klever/managers/sessions/object_script.sessions.Release
