.date {
    font-style: italic;
	font-weight: normal;
	vertical-align: top;
    text-align: center;
    width: 15%;
}
.result {
    font-weight: bold;
    vertical-align: center;
    text-align: left;
    width: 15%;
}
.text {
    font-style: normal;
	vertical-align: top;
}
.header {
    text-align: center;
	font-weight: bold;
}

.Footer {
    text-align: center;
    font-weight: bold;
}

hr.Footer {
    width: 65%;
}

.info {
    text-align: left;
    font-weight: bold;
}

td {
    padding-left: 5mm;
	padding-right: 5mm;
    border-spacing: 5px;
	font-family: "Times New Roman";
}

.PageContainer {
    min-width: 1024px;
    max-width: 60%;
    margin: 0 auto;
    padding: 0;
}

@media print {
    @page {
        margin: 2cm;
    }
    
    img {
        max-width: 100% !important;
    }
    
    ul, img {
        page-break-inside: avoid;
    }
}